.divAllMonsterCaptured{
    display: flow-root;
    margin-bottom:20px;
    padding:20px;
    width:760px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color:rgba(179, 155, 19, 0.829);
    border-color:rgb(0, 0, 0);
    border-radius: 10px;
    border:1px solid rgb(0, 0, 0);
    box-shadow:2px 2px 2px rgb(0, 0, 0);
    -webkit-box-shadow:2px 2px 2px rgb(0, 0, 0);
    margin-right:auto;
    margin-left:auto;
}

.divMonsterCaptured{
    background-color:rgba(216,153,16,0.733);
    display: inline-table;
    margin: 10px;
    width:140px;
    height: 210px;
    border-color:rgb(0, 0, 0);
    border-radius: 5px;
    border:1px solid rgb(0, 0, 0);
    box-shadow:2px 2px 2px rgb(0, 0, 0);
    -webkit-box-shadow:2px 2px 2px rgb(0, 0, 0);
}

.pWelcome{
    display: block;
    margin: 50px auto 20px auto;
    font-size: larger;
    font-weight: bolder;
    font-style: oblique;
}

.divTitleMonster{
    width:100%;
    margin:10px;
    color: white;
    background-color:rgba(97,75,29,0.733);
}

div .divMonsterCaptured img{
    width:140px;
    height:80px;
}