/* Marrocchi */

.divSac{
    display: inline-block;
    text-align: center;
    height: 250px;
    width: 600px;
    background-color:rgb(128, 92, 47);
    padding:5px;
    margin:4px auto 4px 18px;
    border:2px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow:2px 2px 2px rgb(0, 0, 0);
    -moz-box-shadow:2px 2px 2px rgb(0, 0, 0);
    -webkit-box-shadow:2px 2px 2px rgb(0, 0, 0);
    overflow-y: scroll;
}

.divSac p{
    padding-bottom: 10px;
    border-bottom: double black 2px;
}

ul.Item li{
    display: inline-block;
    background-color:rgb(207,207,207);
    padding:5px;
    border-radius:10px;
    margin:3px;
    border:1px solid gray;
    box-shadow:2px 2px 2px gray;
    -moz-box-shadow:2px 2px 2px gray;
    -webkit-box-shadow:2px 2px 2px gray;
}

.Sac{
    padding: 0%;
    width: 100%;
    text-align: center;
}

ul.Sac li{
    float: none;
    display: inline-block;
    background-color:rgb(138, 83, 21);
    padding:5px;
    border-radius:10px;
    margin:10px 5px;
    border:1px solid rgb(255, 255, 255);
    box-shadow:2px 2px 2px rgb(255, 255, 255);
    -moz-box-shadow:2px 2px 2px rgb(255, 255, 255);
    -webkit-box-shadow:2px 2px 2px rgb(255, 255, 255);
}

ul.Sac li:hover{
    cursor:url('baguette.cur'),pointer;
    background-color:rgb(197, 125, 43);
}

ul.Item li:hover{
    cursor:url('hand-grab.cur'),pointer;
    background-color:rgb(231,231,231);
}

.imgItemSac, .imgEquipementSac {
  width: 25px;
}
/* Taille à définir, provisoire */
