/* dechir */

.bodyPage{
    width:800px;
    margin: 150px auto 50px auto;
}

.Red{
    background-color:rgba(255,88,88,0.733);
    padding:5px;
    border-radius:10px;
    margin:3px;
    border:1px solid gray;
    box-shadow:2px 2px 2px gray;
    -moz-box-shadow:2px 2px 2px gray;
    -webkit-box-shadow:2px 2px 2px gray;
}

.lamap{
    width:100%;
    background-color:rgba(232,240,222,0.37);
    padding:5px;
    margin:10px;
    border:1px solid rgb(53,52,48);
    box-shadow:2px 2px 2px rgb(31,32,31);
    -moz-box-shadow:2px 2px 2px rgb(51,53,50);
    -webkit-box-shadow:2px 2px 2px rgb(52,53,52);
}

.nord a,.sud a,.est a,.ouest a{
    color: white;
}

.est a,.ouest a{
    vertical-align: middle;
    margin-top: 20px;
}

.sud{
    width:100%;
    float:left;
    background-color:rgba(0,81,255,0.767);
    height:30px;
    text-align:center;
    line-height: 30px;
    margin: 10px 0px;
}

.nord{
    background-image:url("https://publicdomainvectors.org/photos/north-arrow-2.png");
    background-repeat:no-repeat;
    width:100%;
    float:left;
    background-color:rgba(0,81,255,0.767);
    height:30px;
    text-align:center;
    line-height: 30px;
    margin: 10px 0px;
}

.est{
    float:right;
    width:30px;
    margin:auto;
    background-color:rgba(0,81,255,0.767);
    min-height:100vh;
}

.map DIV{
    border:1px solid rgba(254,251,255,0.47);
}

.map{
    width: 264px;
}

.mapLigne{
    width:100%;
    width: 264px;
    height: 20px;
    float:left;
}

.mapVerte{
    float:left;
    width: 20px;
    height: 20px;
    background-color:rgba(4,155,12,0.685);
}
.mapMob{
    float:left;
    width: 20px;
    height: 20px;
    background-color:rgba(255,0,0,0.664);
}

.mapClear{
    float:left;
    width: 20px;
    height: 20px;
    background-color:rgba(255,251,0,0.603);
}

.mapRouge{
    float:left;
    width: 20px;
    height: 20px;
    background-color:rgba(255,8,0,0.144);
}

.mapOrigine{
    float:left;
    width: 20px;
    height: 20px;
    background-color:rgb(255,0,221);
}

.mapPositionUser{
    float:left;
    width: 20px;
    height: 20px;
    background-color:rgba(21,255,0,0.801);
}

.mapOuest{
    float:left;
    width:auto;
}

.mapEst{
    float:right;
    width:770px;
}

.mapCentre{
    width:740px;
    float:left;
}

.cardinalite div{
    background-color:cadetblue;
    border-color:rgb(53,77,78);
    border:1px solid rgb(119,150,236);
    box-shadow:2px 2px 2px rgb(83,95,235);
    -moz-box-shadow:2px 2px 2px rgb(91,113,236);
    -webkit-box-shadow:2px 2px 2px rgb(66,53,185);
}

.infoMap{
    float:left;
    padding:10px;
    width:200px;
    background-color:rgba(97,71,0,0.829);
    border-color:rgb(53,77,78);
    border:1px solid rgb(119,150,236);
    box-shadow:2px 2px 2px rgb(83,95,235);
    -moz-box-shadow:2px 2px 2px rgb(91,113,236);
    -webkit-box-shadow:2px 2px 2px rgb(66,53,185);
}

.ouest{
    float:left;
    width:30px;
    margin:auto;
    background-color:rgba(0,81,255,0.767);
    min-height:100vh;
}

.effect {
    position: absolute;
}

.sword-slash {
    border-right: 10px solid white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    filter: drop-shadow(0 0 5px #87bfff) drop-shadow(0 0 15px #87bfff) drop-shadow(0 0 10px rgba(135, 191, 255, 0.5)) drop-shadow(0 0 20px rgba(135, 191, 255, 0.25));
    transform-origin: center;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
}

.sword-slash.play {
    animation: slash 250ms ease-out;
}

@keyframes slash {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0) rotate(-195deg);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1) rotate(75deg);
    }
}

.divLog{
    background-color: rgb(97, 97, 97);
    border: solid black 3px;
    height: 200px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    text-align: left;
    overflow-y: scroll;
    overflow-x: clip;
    color: white;
}

#log li{
    float: none;
    margin-top: 10px;
}