/* dechir */

.divPage{
    margin: 0px 20% 50px 20%;
}

.Red{
    background-color:rgba(255,88,88,0.733);
    padding:5px;
    border-radius:10px;
    margin:3px;
    border:1px solid gray;
    box-shadow:2px 2px 2px gray;
    -webkit-box-shadow:2px 2px 2px gray;
}

.divEntete{
    display: flex;
}

.divEntity{
    display: flex;
    justify-content: space-between;
    background-color:rgba(65, 75, 218, 0.308);
    border-style: double;
    border-radius: 10px;
}
.divObjets{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:rgba(79, 112, 83, 0.308);
    border-style: double;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}

.OtherPerso{
    display: flex;
}
.AllMobs{
    display: flex;
}

.divMapEquipments{
    display: flex;
    flex-direction: column;
}
.divMapItem{
    display: flex;
    flex-direction: column;
}

.divInfoEquipement{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.divInfoItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divObjets p{
    margin-right: 5px;
    margin: 0px;
}


.Item{
    margin: 5px;
    padding: 0px;
}
.Equipement{
    margin: 5px;
    padding: 0px;
}

.divInformation{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divInformationMap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.divMap{
    display:flex;
    flex-direction: column;
}
.Map1{
    flex-direction: column;
}
.Map2{
    align-content:center;
}

.divMap a{
    color:white;
}

.mapOuest{
    justify-items:flex-start;
    display:flex;
}

.mapEst{
    justify-items:flex-end;
    display:flex;
}

.mapCentre{
    justify-items:center;
    display:flex;
}

.sud{
    width:298px;
    background-color:rgba(0,81,255,0.767);
    height:30px;
    text-align:center;
    line-height:30px;
}

.nord{
    width:298px;
    background-color:rgba(0,81,255,0.767);
    height:30px;
    text-align:center;
    line-height:30px;
}

.est{
    display:flex;
    width:30px;
    background-color:rgba(0,81,255,0.767);
    text-align:center;
    height:230px;
    margin-left:26px;
    padding-left: 4px;
}

.ouest{
    display:flex;
    width:30px;
    background-color:rgba(0,81,255,0.767);
    text-align:center;
    height:230px;
    padding-left: 4px;
}

.map DIV{
    border:1px solid rgba(254,251,255,0.47);
}

.map{
    width:264px;
}

.mapLigne{
    width:100%;
    width:264px;
    height:20px;
    float:left;
}

.mapVerte{
    float:left;
    width: 20px;
    height: 20px;
    background-color:rgba(4,155,12,0.685);
}
.mapMob{
    float:left;
    width: 20px;
    height: 20px;
    background-color:rgba(255,0,0,0.664);
}

.mapClear{
    float:left;
    width: 20px;
    height: 20px;
    background-color:rgba(255,251,0,0.603);
}

.mapRouge{
    float:left;
    width: 20px;
    height: 20px;
    background-color:rgba(255,8,0,0.144);
}

.mapOrigine{
    float:left;
    width: 20px;
    height: 20px;
    background-color:rgb(255,0,221);
}

.mapPositionUser{
    float:left;
    width: 20px;
    height: 20px;
    background-color:rgba(21,255,0,0.801);
}

.cardinalite div{
    background-color:cadetblue;
    border-color:rgb(53,77,78);
    border:1px solid rgb(119,150,236);
    box-shadow:2px 2px 2px rgb(83,95,235);
    -webkit-box-shadow:2px 2px 2px rgb(66,53,185);
}

.infoMap{
    padding:10px;
    width:200px;
    background-color:rgba(97,71,0,0.829);
    border-color:rgb(53,77,78);
    border:1px solid rgb(119,150,236);
    box-shadow:2px 2px 2px rgb(83,95,235);
    -webkit-box-shadow:2px 2px 2px rgb(66,53,185);
}

.effect {
    position: absolute;
}

.sword-slash {
    border-right: 10px solid white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    filter: drop-shadow(0 0 5px #87bfff) drop-shadow(0 0 15px #87bfff) drop-shadow(0 0 10px rgba(135, 191, 255, 0.5)) drop-shadow(0 0 20px rgba(135, 191, 255, 0.25));
    transform-origin: center;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
}

.sword-slash.play {
    animation: slash 250ms ease-out;
}

@keyframes slash {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0) rotate(-195deg);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1) rotate(75deg);
    }
}

.divLog{
    background-color: rgb(97, 97, 97);
    border: solid black 3px;
    height: 200px;
    margin-top: 20px;
    padding: 10px;
    text-align: left;
    overflow-y: scroll;
    overflow-x: clip;
    color: white;
}

#log li{
    float: none;
    margin-top: 10px;
}

.OtherPerso{
    float:left;
}
.AllMobs{
    float:left;
}

.divRarete{
    width:105px;
    border:1px black;
    background:linear-gradient(to right,rgb(200,255,34),rgb(255,2,2));
}

.VerticalText{
    writing-mode:vertical-rl;
    rotate: 180deg;
}

.map{
    float:left;
    right:10px;
    top:10px;
}

.letooltip{
    float:left;
    margin: auto;
    padding:20px;
    background-color:rgba(216,186,16,0.829);
    border-color:rgb(53,77,78);
    border:1px solid rgb(119,150,236);
    box-shadow:2px 2px 2px rgb(83,95,235);
    -webkit-box-shadow:2px 2px 2px rgb(66,53,185);
}